#mask{display:none; background:#404040; position:fixed; left:0; top:0; z-index:10; width:100%; height:100%; opacity:0.8; z-index:999}

.wptraffic_floatdiv {display:none; background:#fff; width:700px; min-height:350px; padding:15px 35px; border:2px solid #ddd; float:left; font-size:1.2em; 
		position:absolute; top:50px; left:50%; z-index:99999; 
		box-shadow:0px 0px 20px #999; -moz-box-shadow:0px 0px 20px #999;  -webkit-box-shadow:0px 0px 20px #999; 
		border-radius:3px 3px 3px 3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.wptraffic_floatdiv img.btn_close{float:right; margin:-30px -50px 0 0}
.wptraffic_floatdiv table{ margin:0; padding:0;}
.wptraffic_floatdiv table thead th{ margin:0; padding:13px 4px 4px; font: bold 16px Arial;}
.wptraffic_floatdiv table tbody th{ margin:0; padding:13px 4px 4px; font: bold 12px Arial;width: 30%;}
.wptraffic_floatdiv table td{ margin:0; padding:8px 4px 4px; font: normal 12px Arial;}
.wptraffic_floatdiv table tr, .wptraffic_floatdiv table > table tr{ border-bottom: 1px solid #eee;}
.wptraffic_floatdiv table tr td{ vertical-align:top;}
.wptraffic_floatdiv table tr td > label{ font-weight:bold;}
.wptraffic_floatdiv table.wptraffic_section{margin:0 0 15px 0;border:1px solid #ccc;}
.wptraffic_floatdiv table.wptraffic_section th{border-bottom:1px solid #aaa;}
.wptraffic_result{ margin:0;padding:0; font: bold 12px Arial; color: #2323ff;}
.wptraffic_table {width:100%;font-weight:normal; font-size:14px;line-height:1.4;}
.wptraffic_table label{width:130px;font-weight:bold; font-size:14px;display:inline-block;}
.wptraffic_table label{vertical-align:middle;}

#tabs {margin: 30px 0;}
ul#wptraffic_ul { margin: 10px 0 0; padding: 0px 0px 0px 13px; list-style-type: none; border-bottom: 3px solid #3A8BD4; overflow: hidden;}
ul#wptraffic_ul li{ margin:0!important; padding: 0!important;} 
ul#wptraffic_ul li *{ margin: 0px 8px 0px 0px; padding: 6px 24px; float: left; font-family: Georgia, "Times New Roman", Times, serif; font-size: 11px; 
		font-weight: bold; color: #333333; cursor: pointer; background-color: #EDEDED; }
ul#wptraffic_ul li a{ border-top: 1px solid #3A8BD4; border-radius:6px 6px 0 0;}
ul#wptraffic_ul li.ui-tabs-selected, ul#wptraffic_ul li.ui-tabs-selected *, 
ul#wptraffic_ul li.ui-state-active, ul#wptraffic_ul li.ui-state-active *, 
ul#wptraffic_ul li:hover, ul#wptraffic_ul li:hover * { color: #fff!important; background-color: #3A8BD4; }

.ui-widget-header{border-top:0!important; border-left:0!important; border-right:0!important; background:none!important;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active ,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {border: 0!important;background: none!important;}

.ui-tabs-hide{ display:none;}

.wptraffic-left{margin:0;padding:0;float:left;max-width:65%;width:65%;}
.wptraffic-right{margin:30px;padding:0;float:left;max-width:30%;width:30%;}
.wptraffic-image-large{width:100%;max-width:350px;}
.wp-traffic-pro{color:#0085ba;font-weight:bold;}
.wptraffic-row{text-align:justify;}